.container {
  /* Display */
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

  /* Box Model */
  background: url("../assets/yama-rindo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  color: rgb(32, 32, 32);
}

.main {
  grid-row: 2;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  gap: 10vh;
}

.main section {
  scroll-margin-top: 8vh;
}

.main h2 {
  width: 100%;
  font-weight: 800;
  font-size: 6vh;
}

.main .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 92vh;
  padding: 0 2vh;
}

.main .profile .title {
  font-weight: 800;
  font-size: 8vh;
}

.main .about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2vh;
}


.main .about span {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 6vh;
  min-width: 20vw;
  padding: 2em;
  box-shadow: 0 1vw 1.5vw -1vw rgb(0 0 0 / 80%);
}

.main .about .githubSection {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  padding: 2em;
}

.gitButton {
  background: linear-gradient(
    -45deg,
    rgb(90 12 155),
    rgb(0 61 91)
  );
  text-align: center;
  color: rgb(244, 244, 244);
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 1vw 1.5vw -1vw rgb(0 0 0 / 80%);
  cursor: pointer;
}

.profileImage {
  width: 20vh;
  border-radius: 100%;
  box-shadow: 0 1.5vw 1.5vw -1vw rgb(0 0 0 / 80%);
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(32, 32, 32);
  color: rgb(244, 244, 244);
  padding: 1em 2vh;
}

.contact h2 {
  width: auto;
}

.contact .contactTable {
  display: grid;
  grid-template-rows: 2;
}

.contact .contactTable .contactHeader {
  text-align: center;
  grid-column-end: span 2;
}

.contact .contactTable p {
  margin: 0;
  padding: 0.75em;
  text-align: left;
}

.buttonBox {
  display: flex;
  gap: 1em;
}

.contactButton {
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  background: linear-gradient(
    -45deg,
    rgb(90 12 155),
    rgb(0 61 91)
  );
  cursor: pointer;
  color: rgb(224, 224, 224);
}

@keyframes expandbox {
  0% {
    height: 19vw;
  }
  20% {
    height: 20vw;
  }
  100% {
    height: 20vw;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
