.container {
  /* Display */
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

  /* Box Model */
  background: url("../assets/white-background.svg");
}

.main {
  grid-row: 2;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  gap: 10vh;
  padding-bottom: 2em;
}

.main section {
  scroll-margin-top: 8vh;
  display: flex;
}

.main .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
}

.main .profile .title {
  font-weight: 800;
  font-size: 8vh;
}

.main .about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

.main .about span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  max-width: 50vh;
  height: 6vh;
  box-shadow: 0 1vw 1.5vw -1vw rgb(0 0 0 / 80%);
  font-size: 3vh;
}

.main h2 {
  font-weight: 800;
  font-size: 6vh;
}

.profileImage {
  width: 20vh;
  border-radius: 100%;
  box-shadow: 0 1.5vw 1.5vw -1vw rgb(0 0 0 / 80%);
  transition: box-shadow 0.1s ease-in-out;
}

.picture:hover {
  box-shadow: 0 1vw 1.5vw -1vw rgb(0 0 0 / 80%);
}

.title {
  font-size: 6vh;
}
.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background: url("../assets/white-background.svg");
}

.contact .contactTable {
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 2;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1vw 1.5vw -1vw rgb(0 0 0 / 80%);
  background: rgb(244, 244, 244);
}
.contact .contactTable p {
  margin: 0;
  padding: 0.75em;
}

.contact .contactTable .contactHeader {
  text-align: center;
  width: 25vw;
  grid-column-end: span 2;
  background: linear-gradient(
    -45deg,
    rgb(0 121 140),
    rgb(90 12 155),
    rgb(0 61 91)
  );
  background-size: 400% 100%;
  animation: gradient 15s ease infinite;
  color: rgb(224 224 224);
}

.contact .contactTable .contactButton {
  text-align: center;
  grid-column-end: span 2;
  cursor: pointer;
  background: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

.textToLeft {
  text-align: left;
}

.textToRight {
  text-align: right;
}

@keyframes expandbox {
  0% {
    height: 19vw;
  }
  20% {
    height: 20vw;
  }
  100% {
    height: 20vw;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
